.col-5 button{
    padding: 10px;
    background: #5784f5;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.col-5 button:active{
    background: #890ce2;
}

.col-5 button:before{
    content: "Copied";
    position: absolute;
    top: -50px;
    right: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.col-5 button:after{
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}

.col-5.active button::before,
.col-5.active button:after{
    display: block;
}

.text{
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}